body {
  font-family: monaco, consolas, menlo, monospace;
  font-size: 10px;
  line-height: 1.4;

  max-width: 800px;
  margin: 20px auto 100px;
  padding: 0 10px;

  color: #363636;

  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3.6em;
}

h2 {
  margin-top: 1.8em;
  font-size: 2em;
  font-weight: normal;
}

p {
  font-size: 1.2em;
}

.Select,
label {
  font-size: 1.4em;
}

.Select {
  margin-bottom: 1rem;
}

._dash-loading {
  font-size: 2em;
}
